body {
    background : url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}

.nopadding {
    padding:0;
}

.logo {
    font-size: 80px;
    color: #671716;
}

.navbar {
    width: 100%;
    background-color: rgba(0,0,0,0.2);
}

.navbar li a {
    font-family: 'Press Start 2P', sans-serif;
    color: #671716;
    letter-spacing: 10px;
    height: 100%;
    text-align: right;
}

.heading {
    text-align: center;
    font-size: 80px;
    margin-top: 13%;
    margin-bottom: 5%;
    font-family: 'Press Start 2P', sans-serif;
    color:white;
    letter-spacing: 2px;
}

.heading-two {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Press Start 2P', sans-serif;
    color:white;
    letter-spacing: 10px;
}
.paragraph-text {
    font-size: 12px;
    font-family: 'Press Start 2P', sans-serif;
    letter-spacing: 1px;
    padding: 20px;
    color: white;
    text-align: center;
}

.game-output-area{
    background-color: rgba(0,0,0, 0.7);
    border-style:solid;
    border-color: rgba(255,255,255, 0.5);
    border-width: 5px;
    margin-left: 80px;
    margin-right: 80px;

}

.score-area {
    background-color: rgba(0,0,0, 0.7);
    border-style:solid;
    border-color: rgba(255,255,255, 0.5);
    border-width: 5px;
    margin-left: 80px;
    margin-right: 80px;
    height: 40rem;
}

.player-input {
    background-color: rgba(0,0,0, 0.5);
    border-style: none;
    margin-bottom: 10px;
}

.center {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right:auto;
}
.hero-image {
    margin-top: 20px;
    border-style: solid;
    border-color: rgba(255,255,255, 0.5);
    border-width: 5px;
}
.output-image-container{
    overflow: hidden;
}

.output-text-container {
    height: 100%;
    width: 100%;
}
.game-interaction-area{
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.health-and-inventory-area{
    border-style:solid;
    border-color: rgba(255,255,255, 0.5);
    border-width: 5px;
    background-color: rgba(0,0,0, 0.7);
    padding-bottom: 300px;
    margin-left: 80px;
    margin-right: 80px;
}

.game-btn{
    background-color: rgba(0,0,0,0);
    font-family: 'Press Start 2P', sans-serif;
    margin: 10px;
    border: none;

}
.game-btn i {
    font-size: 60px;
    color: white;
}

.start-btn{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right:auto;
}

.contact-icons{
    text-align: center;
    font-size: 80px;
}

.contact-icons i {
    margin-left:10%;
    margin-right:10%;
    color: #671716;
}

footer {
    background-color:rgba(0,0,0, 0.7);
    margin-top: 20%;
}


@media (max-width: 778px){
    .inventory, .health{
        float: none;
        text-align: center;
    }
    .health-and-inventory-area {
        margin-left: 0; 
        margin-right: 0;
    }
}

@media (max-width: 600px){
    .heading {
        font-size: 30px;
        margin-top: 30%;
    }
    .navbar li a {
        font-size: 10px;
    }
    .heading-two {
        font-size: 20px;
    }
    .contact-icons{
        font-size: 20px;
    }

}

@media (max-width: 620px){
    .heading {
        font-size: 30px;
        margin-top: 30%;
    }
    .navbar li a {
        font-size: 10px;
    }
}

@media (max-width: 428px){
    .heading {
        font-size: 20px;
        margin-top: 35%;
    }
    .logo {
        display: none;
    }
}

.hover-effect:hover {
    text-decoration: none;
}