body {
    background-color: darkgrey;
}

.heading {
    text-align: center;
    font-size: 80px;
    margin-top: 20px;
    font-family: 'Press Start 2P', sans-serif;
    color:white;
    letter-spacing: 15px;
}

.heading-two {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Press Start 2P', sans-serif;
    color:white;
    letter-spacing: 15px;
}
.paragraph-text {
    font-size: 10px;
    font-family: 'Press Start 2P', sans-serif;
    letter-spacing: 5px;
    padding-top: 10px;
}

.game-output-area{
    margin-top: 60px;
    margin-left: 40px;
    margin-right:40px;
    margin-top: -6px;
    margin-bottom: -6px;
    border-style:solid;
    border-color: black;
    text-align: center;
    border-width: 5px;
    overflow: hidden;
    background-color: black;

}
.output-text {
    color: white;
    background-color: red;
    width: auto;
    float:right;
}

.output-image {
    height: 100%;
    width: 100%;
    float: left;
}

.game-interaction-area{
    margin-bottom: 10px;
    margin-top: 10px;
}

.health-and-inventory-area{
    margin-top: 10px;
    margin-left: 40px;
    margin-right:40px;
    height:10em;
    border-style:solid;
    border-color: black;
    text-align: center;
    border-width: 5px;
}

.game-btn{
    background-color: red;
    font-family: 'Press Start 2P', sans-serif;
    padding: 25px;
    font-size: 10px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right:40px;
    display: inline;
    border: none;

}

.health{
    float: right;
}