body {
    background : url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    user-select: none;
}

.nopadding {
    padding:0;
}

.logo {
    font-size: 80px;
    color: #671716;
}

.navbar {
    background-color: rgba(0,0,0,0.2);
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Press Start 2P', sans-serif;
    color: #671716;
    letter-spacing: 10px;
    background-color: rgba(0,0,0,0.0);
    border: none;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.modal-heading {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    font-family: 'Press Start 2P', sans-serif;
    color: black;
    letter-spacing: 2px;
}
.heading {
    text-align: center;
    font-size: 80px;
    margin-bottom: 5%;
    font-family: 'Press Start 2P', sans-serif;
    color:white;
    letter-spacing: 2px;
}

.heading-two {
    text-align: center;
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Press Start 2P', sans-serif;
    color:white;
    letter-spacing: 10px;
}
.paragraph-text {
    font-size: 12px;
    font-family: 'Press Start 2P', sans-serif;
    letter-spacing: 1px;
    color: white;
    text-align: center;
}
.paragraph-text-modal {
    font-size: 12px;
    font-family: 'Press Start 2P', sans-serif;
    letter-spacing: 1px;
    color: black;
    text-align: left;
}

.list-text {
    list-style-type: lower-roman;
}

.game-output-area{
    background-color: rgba(0,0,0, 0.7);

}
.game-modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: rgba(0,0,0, 0.3);
    background-clip: padding-box;
    border: 1pxsolidrgba(0,0,0,.5);
    border-radius: 0.3rem;
    outline: 0;
}
.inventory-area{
    padding-top: 50px;
}

.score-area {
    background-color: rgba(0,0,0, 0.7);
    margin-left: 80px;
    margin-right: 80px;
    height: 40rem;
}

.player-input {
    background-color: rgba(0,0,0, 0.5);
    border-style: none;
    margin-bottom: 10px;
}

.center {
    width: 50%;
    margin-left: auto;
    margin-right:auto;
}
.hero-image {
    margin-top: 20px;
    width:31em;
}
.output-image-container{
    overflow:hidden;
}

.output-text-container {
    height: 100%;
    width: 100%;
}

.health{
    margin-top: 20px;
}

.health-and-inventory-area{
    margin-top: 20px;
    background-color: rgba(0,0,0, 0.7);
}

.game-btn{
    background-color: rgba(0,0,0,0);
    font-family: 'Press Start 2P', sans-serif;
    margin: 10px;
    border: none;

}
.game-btn i {
    font-size: 60px;
    color: white;
}

.htp {
    font-size: 60px;
    color: black;
}

.modal-color{
background-color: rgba(255,255,255,0.9);
}

.monster-heart{
    color: #671716;
}

.text-center{
    text-align: center;
}
.start-btn{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right:auto;
}

.contact-icons{
    text-align: center;
    font-size: 80px;
}

.contact-icons i {
    margin-left:10%;
    margin-right:10%;
    color: #671716;
}

footer {
    background-color:rgba(0,0,0, 0.7);
    margin-top: 20%;
}


@media (min-width: 641px)and(max-width:1180px){
    .inventory, .health{
        float: none;
        text-align: center;
    }
    .health-and-inventory-area {
        margin-left: 0; 
        margin-right: 0;
    }
    .hero-image {
        width: 23em;
    }
}

@media (max-width: 600px){
    .heading {
        font-size: 30px;
        margin-top: 30%;
    }
    .navbar li a {
        font-size: 10px;
    }
    .heading-two {
        font-size: 20px;
    }
    .contact-icons{
        font-size: 20px;
    }
    .hero-image {
        margin-top: 20px;
        width: 22em;
    }

}

@media (max-width: 620px){
    .heading {
        font-size: 30px;
        margin-top: 30%;
    }
    .navbar li a {
        font-size: 10px;
    }
}

@media (max-width: 428px){
    .heading {
        font-size: 20px;
        margin-top: 35%;
    }
    .logo {
        display: none;
    }
}

.hover-effect:hover {
    text-decoration: none;
}