body {
    background : url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.nopadding {
    padding:0;
}

.logo {
    background-image: url(../img/dungeon-maze-title-image.jpg);
     width: 100px;
     height: 100px;
     border-radius: 50%;
     padding:70px;
     overflow: hidden;
     background-size: cover;
     background-repeat:no-repeat ;
}

.navbar {
    width: 100%;
    background-color: rgba(255,255,255, 0.3);
    float: right;
    height: 20vh;
}

.navbar li a {
    font-family: 'Press Start 2P', sans-serif;
    color: #671716;
    letter-spacing: 10px;
    width: 20%;
    height: 100%;
}

.heading {
    text-align: center;
    font-size: 80px;
    margin-top: 20%;
    margin-bottom: 5%;
    font-family: 'Press Start 2P', sans-serif;
    color:#671716;
    letter-spacing: 2px;
}

.heading-two {
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Press Start 2P', sans-serif;
    color:white;
    letter-spacing: 10px;
}
.paragraph-text {
    font-size: 15px;
    font-family: 'Press Start 2P', sans-serif;
    letter-spacing: 1px;
    padding: 20px;
    color: black;
}

.game-output-area{
    background-color: black;
    border-style:solid;
    border-color: rgba(255,255,255, 0.5);
    border-width: 5px;

}

.output-image {
    height: 100%;
    width: 100%;
}
.output-image-container{
    overflow: hidden;
}

.output-text-container {
    background-color: #671716;
    height: 100%;
    width: 100%;
}
.game-interaction-area{
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

.health-and-inventory-area{
    margin-top: 10px;
    border-style:solid;
    border-color: rgba(255,255,255, 0.5);
    border-width: 5px;
    background-color: rgba(255,255,255, 0.2);
}

.game-btn{
    background-color: rgba(255,255,255, 0.6);
    font-family: 'Press Start 2P', sans-serif;
    width: 10em;
    height: 5em;
    margin: 10px;
    border: none;

}
.game-btn i {
    font-size: 60px;
    color: #671716;
}

.health{
    float: right;
}

.inventory{
    float: left;
}

.contact-icons{
    text-align: center;
    font-size: 60px;
}

.contact-icons i {
    margin-left:10%;
    margin-right:10%;
    color: #671716;
}

footer {
    background-color:rgba(255,255,255, 0.5);
    margin-top: 20%;
}


@media (max-width: 778px){
    .inventory, .health{
        float: none;
        text-align: center;
        margin-bottom: 20%;
    }
    .health-and-inventory-area {
        margin-left: 0; 
        margin-right: 0;
    }
}

@media (max-width: 600px){
    .heading {
        font-size: 30px;
        margin-top: 30%;
    }
    .navbar li a {
        font-size: 10px;
    }
}

@media (max-width: 620px){
    .heading {
        font-size: 30px;
        margin-top: 30%;
    }
    .navbar li a {
        font-size: 10px;
    }
}

@media (max-width: 428px){
    .heading {
        font-size: 20px;
        margin-top: 35%;
    }
    .logo {
        display: none;
    }
}
