@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Mono:wght@200&display=swap');
/*body*/
body {
    background : url(../img/background.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}

.page-loader{
    width: 100%;
    height: 100%;
    background: url(../img/tavern.jpg);
    background-size: cover;
    z-index: 10;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* I used this source to help me learn about the content loader animation https://www.w3schools.com/howto/howto_css_loader.asp */
.loader-content{
    border: 5px solid #c82305;
    border-top: 5px solid white;
    border-radius: 50%;
    width:6em;
    height:6em;
    animation: spin 3s linear infinite;
    position: relative;
}

/*animations*/
/*fade animation credit from https://medium.com/cloud-native-the-gathering/how-to-use-css-to-fade-in-and-fade-out-html-text-and-pictures-f45c11364f08 */
.fade-in {
    animation: fadeIn ease 3s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 3s;
    -o-animation: fadeIn ease 3s;
    -ms-animation: fadeIn ease 3s;
  }
  @keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
  }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*psuedo effects*/
.logo:hover {
    color: white;
}

.footer-icon:hover {
    color: black;
}

.btn-reset:hover, .start-btn:hover {
    background-color:white;
    color:#c82305; 
}

/*remove styles */
.nopadding {
    padding:0;
}

/*navigation and logo */
.logo {
    font-size: 80px;
    color: #c82305;
}

.navbar {
    background-color: rgba(0,0,0,0.2);
    font-size: 16px;
}

/*overidden bootstrap classes */
.navbar-light .navbar-nav .nav-link {
    font-family: 'Press Start 2P', sans-serif;
    color: #c82305;
    letter-spacing: 10px;
    background-color: rgba(0,0,0,0.0);
    border: none;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: white;
    outline: none;
}

.navbar-light .navbar-toggler-icon{
    background-color: white;
}

/*colours */
.area-color{
    background-color:  black;
}

.smallscreenMessage{
    background-color:#3da8611a;
}

/*text styles */
.modal-heading {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    margin-bottom: 10px;
    font-family: 'Press Start 2P', sans-serif;
    color: black;
    letter-spacing: 2px;
}

.heading {
    text-align: center;
    font-size: 70px;
    font-family: 'Press Start 2P', sans-serif;
    color:white;
    letter-spacing: 2px;
}

.paragraph-text {
    font-size: 12px;
    font-family: 'Press Start 2P', sans-serif;
    letter-spacing: 1px;
    color: white;
    text-align: center;
}

.paragraph-text-modal {
    font-size: 16px;
    font-family: 'Press Start 2P', sans-serif;
    letter-spacing: 1px;
    color: black;
    text-align: left;
}

.list-text {
    list-style-type: lower-roman;
}

/*modal css class below originally from bootstrap, customised for this website */
.game-modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: rgba(0,0,0, 0.3);
    background-clip: padding-box;
    border-radius: 0;
}

/*user input */
.player-input {
    background-color: rgba(0,0,0, 0.5);
    border-style: solid;
    border-color: white;
    margin-bottom: 10px;
    border-width:1px;
}

/*images */
.game-image {
    margin-top: 20px;
    width:27em;
    height: 100%;
    border-radius: 8px;
}

.hero-image {
    margin-top: 10px;
    margin-bottom: 10px;
    width:30em;
    height: 100%;
    border-radius: 8px;
}

/* containers and areas */
.output-image-container{
    overflow:hidden;
}

.output-text-container {
    height: 100%;
    width: 100%;
}

.inventory-area{
    padding-top: 50px;
}

/*colours */
.modal-color{
background-color: rgba(255,255,255,0.9);
}

.monster-heart{
    color: #c82305;
}

.game-output-background, .game-output-area {
    background-color: rgba(0,0,0, 0.7);
}

/*custom margin classes*/
.margin {
    margin-bottom: 5%;
}
.margin-top {
    margin-top: 10%;
}

/*buttons */
.btn-reset {
    color: #fff;
    background-color: #c82305;
    border-radius: 5px;
    margin-bottom: 20px;
}

.game-btn{
    background-color: rgba(0,0,0,0);
    font-family: 'Press Start 2P', sans-serif;
    margin: 10px;
    border: none;
}

.start-btn{
    display: block;
    margin-left: auto;
    margin-right:auto;
    border-style: solid;
    border-color: white;
    background-color: #c82305;
}

/*icons */
.contact-icons{
    text-align: center;
    font-size: 20px;
}

.contact-icons i {
    margin-left:10%;
    margin-right:10%;
    color: #c82305;
}

.game-btn i {
    font-size: 40px;
}

.modal-icon {
    font-size: 40px;
    color: black;
}

/*page-container, content-wrap and footer classes came from 
https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/
I needed to find a solution to my footer not sticking to the bottom of the page
due to the small amout of content on the site */
#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 2.5rem;   
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color:white;
    z-index: 1;
}

/*media screens */
@media (max-width: 359px){
    .logo{
        font-size: 30px;
    }
    .navbar{
        font-size:6px;
        text-align: center;
    }
    .navbar-nav a {
        margin:0;
    }
    .heading{
        font-size: 10px;
    }
    .paragraph-text{
        font-size: 4px;
    }
    .hero-image {
        width:15em;
        height: auto;
    }
    .contact-icons {
        font-size: 10px;
    }
    .game-image{
        width:15em;
        height: auto;
    }
    .game-btn i {
        font-size: 10px;
    }
    .game-btn {
        margin:0;
    }
    .modal-heading {
        font-size: 6px;
    }
    .paragraph-text-modal{
        font-size:4px; 
    }
}

@media (max-width:240px){
    .hero-image{
        width:10em;
        height: auto;
    }
    .game-image{
        width: 10em;
        height: auto;
    }
    .logo{
        font-size: 20px;
    }
}

@media (min-width:360px){
    .logo{
        font-size: 30px;
    }
    .navbar{
        font-size:12px;
        text-align: center;
    }
    .heading{
        font-size: 12px;
    }
    .paragraph-text{
        font-size: 12px;
    }
    .hero-image {
        width:15em;
        height: auto;
    }
    .contact-icons {
        font-size: 12px;
    }
    .game-image{
        width:15em;
        height: auto;
    }
    .game-btn i {
        font-size: 20px;
    }
    .modal-heading {
        font-size: 10px;
    }
    .paragraph-text-modal{
        font-size:12px; 
    }

}

@media (min-width:375px){
    .logo{
        font-size: 30px;
    }
    .navbar{
        font-size:12px;
        text-align: center;
    }
    .heading{
        font-size: 15px;
    }
    .hero-image {
        width:20em;
        height: auto;
    }
    .contact-icons {
        font-size: 15px;
    }
    .game-image{
        width:13em;
        height: auto;
    }
    .game-btn i {
        font-size: 30px;
    }
    .modal-heading {
        font-size: 15px;
    }
}

@media (min-width: 411px){
    .logo{
        font-size: 30px;
    }
    .navbar{
        font-size:15px;
        text-align: center;
    }
    .heading{
        font-size: 30px;
    }
    .hero-image {
        width:23em;
        height: auto;
    }
    .contact-icons {
        font-size: 18px;
    }
    .game-image{
        width:23em;
        height: auto;
    }
    .game-btn i {
        font-size: 35px;
    }
    .modal-heading {
        font-size: 18px;
    }
}

@media(min-width:768px){
    .contact-icons {
        font-size: 30px;
    }
    .game-btn i {
        font-size: 50px;
    }
    .logo {
        font-size: 50px;
    }
    .navbar {
        text-align: center;
        font-size: 25px;
    }
}

@media (min-width:800px){
    .game-image{
        width: 30em;
        height: auto;
    }
    .hero-image{
        width: 30em;
        height: auto;
    }
    .navbar {
        font-size: 15px;
    }
}

@media (min-width: 1366px){
    .contact-icons {
        font-size: 30px;
    }
    .game-btn i {
        font-size: 50px;
    }
    .logo {
        font-size: 50px;
    }
    .navbar {
        text-align: center;
        font-size: 25px;
    }
}

@media (min-width: 1920px){
    .logo{
        font-size: 80px;
    }
    .navbar{
        font-size:50px;
        text-align: center;
    }
    .heading{
        font-size: 80px;
    }
    .paragraph-text{
        font-size: 40px;
    }
    .hero-image {
        width:73em;
        height: auto;
    }
    .contact-icons {
        font-size: 80px;
    }
    .game-image{
        width:73em;
        height: auto;
        margin:0;
    }
    .game-btn i {
        font-size: 100px;
    }
    .modal-heading {
        font-size: 80px;
    }
    .paragraph-text-modal{
        font-size: 40px; 
    }    
    .modal-icon{
        font-size: 80px;
    }
    .close {
        font-size: 80px;
    }
}

